h2 {
    font-size: 88px;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.postList {
    margin: 0 40px 20px;
  }
  
  .postList ul {
    list-style: none;
    padding: 0;
    text-decoration:none;
  }
  
  .postList li {
    margin-bottom: 10px;
    text-decoration:none;
  }
  
  .postList a {
    text-decoration:none;
    color: white;
  }

  /* Post.module.css */
  .post {
    margin: 20px;
  }
  
  .ul__list{
    text-decoration: none;
  }