a {
  text-decoration:none;
  color: gray;
  font-size: 20px;
}
h2 {
  font-size: 88px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.app {
  text-align: left;
  color: white;
  background-color: #1A1A1A;
  text-decoration:none;
}

.nav {
  margin: 80px 40px 0px;
}

